html{

background-color: #2d3a3a;
color: #ffffff;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*#################################################*/

/* Media query for screens smaller than 600 pixels (typical mobile devices) */
@media screen and (max-width: 600px) {
  /* Styles for mobile devices */
  .headers{
    text-align: center;
  }

  .my-personal-image{
    width: 80%;
    height: auto;
    z-index: 1;
    border-radius: 50%;
    margin: 10%;
  }
  .about-me-text{
    display: block;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;

    font-size: 0.8rem;
  }
  .about-me-text a{
      color: #007bff; /* Set the text color */
      text-decoration: none; /* Remove underline (if any) */
      font-weight: bold; /* Make the text bold */
    }  
  
  .about-me-text a:hover {
      text-decoration: underline;
      color: #ff6600;
  
  }


}

/*################################################*/


/* Media query for screens larger than 600 pixels (typical PCs) */
@media screen and (min-width: 601px) {
  /* Styles for PCs */

  .my-personal-image{
      display: flex;
      width: 40%;
      height: auto;
      z-index: 1;
      border-radius: 50%;
      margin-left: 5%;
  }

}

/*#################################################*/



  /*#########################*/
 /*SCROLL BAR DO NOT TOUTCH*/
/*########################*/ 
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
  }
  ::-webkit-scrollbar-track {
    background: #2d3a3a;
  }
  ::-webkit-scrollbar-corner {
    background: #2d3a3a;/
  }
  ::-webkit-scrollbar-button {
    display: none;
  }

  .my-name-1:hover{
    transform: scale(1.5);
}
.my-name-2:hover{

    transform: scale(1.5);
}
/*######################*/







