html{

background-color: #2d3a3a;
color: #ffffff;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*#################################################*/

/* Media query for screens smaller than 1100 pixels (typical mobile devices) */
@media screen and (max-width: 1100px) {
  /* Styles for mobile devices */
  .headers{
    text-align: center;
  }

  .my-personal-image{
    width: 80%;
    height: auto;
    z-index: 1;
    border-radius: 50%;
    margin: 10%;
    
  }
  .text{
    display: block;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;

    font-size: 0.8rem;
  }
  .text a{
      color: #007bff; /* Set the text color */
      text-decoration: none; /* Remove underline (if any) */
      font-weight: bold; /* Make the text bold */
    }  
  
  .text a:hover {
      text-decoration: underline;
      color: #ff6600;
  
  }
  .skill-img{
    max-width: 10%;
    max-height: 10%;
    margin-bottom: 1%;
  }
  .main-java{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: grey;
    border-radius: 25px;
    width: 70%;
    height:30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;    
  }
  .java{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: orange;
    height: 30px;
    width:40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-html{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }
  .html{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: orangered;
    width: 65%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-css{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }
  .css{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: rgb(0, 0, 180);
    width: 50%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-python{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
  }
  .python{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: #3873a3;
    width: 60%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contact_me_main{
    box-shadow: 10px 10px 10px rgb(26, 26, 26);
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color:#1b2323;
  }
  .contact-me-images{
    transition: 0.3s;
    margin: 2rem;
    height: 5%;
    width: 5%;
  }
  .contact-me-images:hover{
    transform: scale(1.5);
  }
  


}

/*################################################*/


/* Media query for screens larger than 1101 pixels (typical PCs) */
@media screen and (min-width: 1101px) {
  /* Styles for PCs */
  .headers{
    text-align: center;
  }

  .About-me-page {
    display: flex;
    flex-direction:row;
    align-items: center;
  }

  .my-personal-image {
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-left: 5rem;
  }
  #0001{
    flex-direction: row;
  }
  .text{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;

    font-size: 1rem;
  }
  .text a{
      color: #007bff; /* Set the text color */
      text-decoration: none; /* Remove underline (if any) */
      font-weight: bold; /* Make the text bold */
    }  
  
  .text a:hover {
      text-decoration: underline;
      color: #ff6600;
  }

  #0002{
    display: flex;
    flex-direction: row;
  }
  .main-java{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: grey;
    border-radius: 25px;
    height:30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;    
  }
  .java{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: orange;
    height: 30px;
    width:40%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-html{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }
  .html{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: orangered;
    width: 65%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-css{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }
  .css{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: rgb(0, 0, 180);
    width: 50%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main-python{
    box-shadow: 5px 5px 10px rgb(26, 26, 26);
    background-color: gray;
    border-radius: 25px;
    height: 28px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
  }
  .python{
    box-shadow: 0px 0px 10px rgb(26, 26, 26);
    background-color: #3873a3;
    width: 60%;
    height: 28px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .skill-img{
    max-width: 5%;
    max-height: 5%;
    margin-bottom: 1%;
  }
  .contact_me_main{
    box-shadow: 10px 10px 10px rgb(26, 26, 26);
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    background-color:#1b2323;
  }
  .contact-me-images{
    transition: 0.3s;
    margin: 2rem;
    height: 5%;
    width: 5%;
  }
  .contact-me-images:hover{
    transform: scale(1.5);
  }
}



/*#################################################*/



  /*#########################*/
 /*SCROLL BAR DO NOT TOUTCH*/
/*########################*/ 
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: whitesmoke;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
  }
  ::-webkit-scrollbar-track {
    background: #2d3a3a;
  }
  ::-webkit-scrollbar-corner {
    background: #2d3a3a;/
  }
  ::-webkit-scrollbar-button {
    display: none;
  }

  .my-name-1:hover{
    transform: scale(1.5);
}
.my-name-2:hover{

    transform: scale(1.5);
}
/*######################*/



@keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-330px);
  }
}

@keyframes color {
  0%   { background: #2d3a3a; }
  20%  { background: #293434; }
  40%  { background: #242e2e; }
  60%  { background: #424e4e; }
  80%  { background: #1b2323; }
  100% { background: #2d3a3a; }
}

html{
  background: #2d3a3a; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
}